<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA6AMAAAAAAABY
	AgAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAaAAAAAQAAAAAAAAAAAAAAAAAA
	AEAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAA4EAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACQQQAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAK
	AAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAQAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAA0AcAAAAAAAAAAAAAAAAAAAEAAAAAAAAACgAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAADwA
	AAAAAAAAAAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAO
	AQAAAAAAAAAAAAAAAAAACwAAAAAAAADbD8k/AAAAAAgBAAAAAAAAAAAAQAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAwAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAgAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAPAAAAAAAAAA8AAAAAAAAAADAAAAAAAAAAAAAAAAAAAAZAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAA8AAAAAAAAADwAAAAAAAAAPAAAAAAAAAA8
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGBAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAGQAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAA/////wAAAAABAQEBAQEBAQEAAAEAAQEAAQEBAQEBAQEBAQABAAEBAQEBAAABAQEB
	AAAAAAAAAAABAAABAQEAAAAAAQAAAAEBAAABAAEBAQEBAQEAAQEBAQEBAAEBAAABAQEA
	AAEAAQEBAQEBAAEAAQEBAQEBAQABAAEAAQEAAQEAAQEAAAEBAQEBAQABAQEAAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQABAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEAAQEBAQEBAQEA
	AQABAAABAAAAAAEBAQEAAAAAAAABAQEAAAABAQEBAAABAAABAQEBAQEAAAEBAQEBAQEA
	AQEBAQABAQEBAQEBAQEBAQEAAQAAAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAAEBAQEB
	AQAAAQEAAAEAAQABAQEBAQEBAQEBAQABAAABAAABAQABAQEBAAAAAAAAAQEBAQEBAQEB
	AQAAAAEBAQABAQEBAQEBAQEBAQEBAQEBAQABAAABAQEBAAEBAQEBAQEBAQEBAQABAAAB
	AQEAAAAAAQEAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQAAAAAAAAABAQEBAQEAAAEA
	AQABAQAAAAAAAAEBAAEBAQEBAQEAAAEBAAAAAQEAAQEBAQEBAQEBAQEAAAABAQABAQAB
	AAAAAAAAAQEBAQEBAQEBAAAAAAAAAAEBAQEBAAAAAAEBAQABAQEBAQEBAQEAAAAAAAAB
	AQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPad</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>J522AP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPad13,8</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAQAAAA==
		</data>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>AAD96D2B-4771-43EA-9406-57367DFBDECC</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8103</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.9.0</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2378</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPad</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>buffer-compression</key>
			<false/>
			<key>media-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<false/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
		</dict>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>A</string>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array/>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPad</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>1</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-11881.140.96</string>
		<key>NE090Fbwd79LVOHj0AN+OA</key>
		<string>22G90</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1</real>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4387</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1</real>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		HozelZBiZyAGTsOtPKmTeVBfbhs=
		</data>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPad13,8</string>
			<string>iPad8,6</string>
		</array>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAYDV47T8AAAAAAAAAAAAAAKCqPK8/AAAAAAAAAAA=
		</data>
		<key>Wr2SycNVQwBrdup3ok+LxQ</key>
		<data>
		AgAWCAAAAADeDYcKAAAAAAAAAAAAADBBcHMAAAAA0w6CCgAAAAAAAAAAAAAx
		QXBzAAAAAOoNhgoAAAAAAAAAAAAAMkFwcwAAAADdDoIKAAAAAAAAAAAAADNB
		cHMAAAAA2Q2ACgAAAAAAAAAAAAA0QXBzAAAAAOAOhQoAAAAAAAAAAAAANUFw
		cwAAAADrDYkKAAAAAAAAAAAAADZBcHMAAAAACw+GCgAAAAAAAAAAAAA3QXBz
		G+o=
		</data>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPad Pro (12.9-inch) (5th generation)</string>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPad Pro (12.9-inch) (5th generation)</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>300</integer>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>CH</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPad13,8</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>jxx29Cq5bGHDnkcha4y/Rw</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1774</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>22G90</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		AAgAAKwKAAAIAQAAAAAAQNsPyT8LAAAA
		</data>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>pad</string>
			<key>ArtworkDeviceProductDescription</key>
			<string>iPad Pro (12.9-inch) (5th generation)</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>2</integer>
			<key>ArtworkDeviceSubType</key>
			<integer>2732</integer>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPad8,6</string>
			<key>DevicePerformanceMemoryClass</key>
			<integer>8</integer>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE7</string>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE6:APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
		</dict>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>J522AP</string>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAYDV4jUAAAAAAAAAAAAAAAKCqPE9AAAAAAAAAAAA=
		</data>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>18.6.1</string>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>13A60D66-7381-11F0-ACC0-7C21FB1ACC90</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 943.026062, y: 0.000000, width: 62.473957, height: 0.000000 }</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPad</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPad</string>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C2</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>BC6B4A41-D24A-4850-B94A-B1C8D3AD62A5</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.tablet2</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAABYpUAAAAAAAACgQA==
		</data>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>CH/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>77445283-82CC-437D-ADC1-D8343B5CBC18</string>
	<key>CacheVersion</key>
	<string>22G90</string>
</dict>
</plist>
